{% extends "base.html" %}
    {% block page_name %}Home{% endblock %}
    {% block content %}
    <center>
      <main style="margin: auto 0em" class="body container">
        <div class="content">
          <h1 class="sub-title" id="frontpage-heading">What's on your mind today?</h1>
          <p id="successMessage">Your message has been sent!</p>
          <div class="nav-pane">
            <ul>
              <li id="frontpage-item-1"><a href="/read">I want to read a letter</a></li>
              <li id="frontpage-item-2"><a href="/create">I want to write something</a></li>
              <li id="frontpage-item-3"><a href="/list">I want to continue a conversation</a></li>
              <li id="frontpage-item-4"><a href="/feedback">I want provide feedback for this app (please do <3)</a></li>
            </ul>
          </div>
        </div>
      </main>



      <!-- <main class="main">
          <div class="container">
              <a href="/pull"><button class="btn btn-green btn-large" id="pullBtn">Pull a Letter</button></a>
            <button class="btn btn-green btn-large" id="letterBtn">New Letter</button>
          </div>
          <br>
        <div class="letters-grid container" id="letterGrid">    
          <!-- grid for displaying sent/received letters-->
          <!-- <br>
          <form id="letter-survey" method="post">
            <label id="title-label">Subject</label>
            <input type="text" name="title" id="title"  placeholder="Post Title" style="width: 450px"><br>
            <label id="content-label">Content</label>
            <input type="text" name="content" id="content" placeholder="What's on your mind?" style="width: 450px;height:100px" required><br>
            <button type="submit" id="submitLetter">Send Letter</button>
        </form>
        </div>
          <div class="container message-grid" id="messageGrid" >
              <h3>post content</h3>
              lol
          </div>
        <script src={{url_for('static', filename="script.js")}} defer></script>
      </main> -->
    </center>
    <script src="{{url_for('static',filename='load-animations.js')}}"></script>
    <script>

      {% if letterSent %}
        frontDelay = 4000
        elementTransitionIn("successMessage");
      
        window.setTimeout(function(){
          elementTransitionOut("successMessage");
        }, 2100);
      {% else %}
        frontDelay = 200
      {% endif %}
      localStorage.clear();
      
      window.setTimeout(function(){
        document.getElementById("successMessage").style.display = "none";
        window.setTimeout(function(){
          elementTransitionIn("frontpage-heading");
        }, 200);

        window.setTimeout(function(){
          elementTransitionIn("frontpage-item-1");
          elementTransitionIn("frontpage-item-2");
          elementTransitionIn("frontpage-item-3");
          elementTransitionIn("frontpage-item-4");
        }, 800);
      }, frontDelay);
      
      
      
      </script>
    
    {% endblock %}
